body{
    background-color: #EEEDEB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.backg{
    background: rgba(249, 249, 249, 0.7);
    background: -webkit-linear-gradient(249deg, rgba(249, 249, 249, 0.5) 0%, rgba(237, 210, 220, 0.5) 100%);
    background: linear-gradient(249deg, rgba(249, 249, 249, 0.5) 0%, rgba(237, 210, 220, 0.5) 100%);
}
.nav-item{
    position: relative;
}
.nav-link{
    font-size: 16px !important;
    color: rgb(48, 48, 48)rtant;
    letter-spacing: 2px;
    text-align: center; 
}
.nav-item::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(88, 66, 62);
    position: absolute;
    left: 3px; 
    bottom: 0;
    transition: width 0.5s; 
}
.nav-item:hover::after{
    width: 90%;
}
.background {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    opacity: 0.8;
}
.contain{
    top: 10rem;
    display: flex;
    position: relative;
    position: relative;
    z-index: 0;
}
.para{
    width: 50%;
    background-color: rgba(124, 107, 107, 0.8);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 3%;
    font-size: 1.25rem;
    text-align: justify;
}
.btn.demo {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #e3eba7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
.btn.demo:hover {
    background-color: #a3b70e;
    box-shadow: 0px 15px 20px rgba(216, 255, 23, 0.899);
    color: #fff;
    transform: translateY(-7px);
}
.btn.demo:active{
    transform: translateY(-1px);
}
.play{
    width: 60px;
    height: auto; 
    display: inline-block;
    position: relative;
    top: 84%; 
}

/*2nd page*/
.about {
    top: 10rem;
    padding-top: 20rem;
    padding-bottom:20rem;
    position: relative;
    z-index: 1;
}
.ourteam{
    padding-top: 1rem;
    padding-bottom: 4rem;
    position: relative;
}
.col-full {
    width: 100%;
    text-align: center; 
    z-index: 2;
}
.about1 {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.5rem; 
    color: #373636;
    margin: 0; 
    padding-bottom: 2rem;
    text-decoration: underline;
    z-index: 900;
}
.lead {
    width: 70%; 
    margin: 0 auto;
    text-align: justify;
    font-size: 2rem !important;
    z-index: 2;
}
.card{
    max-width: 350px;
    margin: 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.card h5{
    font-size: 25px;
    font-weight: bold;
}
.card-text{
    text-align: justify;
}

/*services page*/
.ourServices{
    padding-top: 5rem;
    padding-bottom: 14rem;
    position: relative;
}

/*faq*/
.wrap{
    max-width: 70%;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.what{
    background-color: white;
    color: rgba(14, 14, 14, 0.8);
    cursor: pointer;
    font-size:1.2rem;
    width: 100%;
    padding: 4rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.what i{
    font-size: 2rem;
}
.active, .what:hover{
    background-color: #a7a7a7;
}
.ask{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.ask p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.faq{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.faq.active{
    border: none;
}

/*contact us*/
.wrapper{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.container{
    width: 1200px !important;
}
p{
    font-size: 12px;
}
.form-control{
    height: 36px;
    background: #fff;
    color: #cecdcd;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none !important;
    border:1px solid rgba(153, 94, 94, 0.5);
}
.contactForm .form-control{
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
}
.form-control:focus, .form-control:active{
    border-color: #373636 !important;
}
.bi{
    font-size: 35px;
}



@keyframes bellRing {
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  } 
@media (max-width: 768px) {
    .background{
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        opacity: 0.8;
    }
    .para {
        width: 80%; 
    }
}
@media (max-width: 370px) {
    .para {
        width: 60%; 
    }
    .background{
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        opacity: 0.8;
    }
    .button {
        bottom: 10px;
        right: 10px; 
    }

    .toggle {
        bottom: 10px;
        right: 10px;
    }
}
@media only-screen and (max-width){
    .container{
        width: 100% !important; 
        padding-bottom: 200px;
    }
}